/* Web Fonts ----------------------- */
@font-face {
  font-family: "Abolition Regular";
  src: url("../fonts/abolition-regular-webfont.woff");
}
/* Base Styles --------------------- */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em; /* 20px on most screens */  
}
body {
  margin: 1rem;
  font-family: "Lancelot", serif;
  color: #454959;
  font: 300 100%/1.5 "Work Sans", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
h1, h2 {
  font: normal 100%/1.1 "Abolition Regular", Impact, Charcoal, sans-serif;
}
img {
  width: 100%; /* responsive images */
  border-radius: 10px;
  
}
h1 {
  text-shadow: 1px 2px 3px rgba(0,10,30,.5);
  font-size: 4rem;
}
h1::after {
  content:"\2193";
  display: block;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.25em;
}

/* Main Styles --------------------- */
header {
  padding: 10vh 1rem;
  color: white;
  margin: -1rem -1rem 1rem;
  background: url(../img/mountains.jpg) center / cover no-repeat #f3753b; 
  background-blend-mode: multiply;
}
.title {
  letter-spacing: 1px; 
}
header, footer {
  text-align: center;
}
main {
  hyphens: auto;
  max-width: 1000px;
  margin: 0 auto;
}
section {
  padding: 4rem 0;
  border-bottom: 1px dashed #9599a9;
}
#wildlife {
  padding: 20% 15%;
  border-top: 12px solid #f3753b;
  border-radius: 12px 12px 0 0;
  background: url(../img/bear.jpg) #454959 center / cover;
  color: white;
  box-shadow: inset 0 0 20px 10px rgba(255,0,0,.8);
}
#wildlife a {
  color: #f7a2f7;
}
.callout {
  display: block;
  width: 250px;
  border-radius: 20px/10px;
  padding: .25rem 1rem;
  margin: 1rem auto;
  background-image:linear-gradient(to left, #cc4e13, papayawhip);
  color: white;
  text-align: center;
  font-size: 1.25rem;
  box-shadow: 3px 4px 5px rgba(0,10,30,.8)
}
.column:first-child {
margin-bottom: 4rem;
}
/* Media Queries ------------------- */
@media screen and (min-width: 720px) {
  header {
    padding: 20vh 1rem; 
  }
h1 {
  font-size: 5rem;
}
h1::after {
  margin-top: 1rem;
}
.title {
  font-size: 1.25rem;
}
.intro {
  padding: -15%;
  font-size: 1.1rem;
}
.column {
  display: inline-block;
  width: 48%;
  margin-right: -4px;

}
.column:first-child {
  margin-right: calc(4% - 4px);
  margin-bottom: 0;
}
.img-mountain {
  min-height:317.79px ;
}

}
