body {
    color: white;
    font-size: 1.4rem;
   
}

/* Navigation  */
.navigation {
    background:#FFDEAD;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1rem 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
}
    
.links {
    padding-right: 1rem;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px rgb(4, 1, 1);

}

/* / / /  Navigation  */

/* About */
.container-about {
    background: radial-gradient(circle at center, black, #dfecfa00, green 100%);;
    min-height: 100vh;
}
.container-title {
    text-align: center;
    padding-top: 25rem;
}
/* / / /  About */

/* Projects  */
h2 {
    margin-top: 0;
    padding-top: 5rem;
    text-shadow: 2px 2px 2px rgb(4, 1, 1);
    text-align: center;
   
}
h4 {
    text-shadow: 2px 2px 2px rgb(4, 1, 1);
}
.container-projects {
    background: linear-gradient(#ffffff, #14b36b, #9198e5);
    min-height: 100vh;
    text-align: center;
    
}
.projects {
    width: 100%;
    justify-content: center;
    margin: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
img {
 max-width: 100%;
  display: block;
}
.projects-link {
    background-color: #1BFFFF;
    text-align: center;
    box-shadow: 5px 5px 5px rgb(19, 17, 17);
}
 .button-projects {
     text-align: center;
     padding: 3rem;
    }
button {
    padding: 1rem;
    background: #1BFFFF;
    text-shadow: 2px 2px 2px rgb(4, 1, 1);
    box-shadow: 5px 5px 5px rgb(19, 17, 17);
}
/* / / / Projects  */

/* Contacts */
.container-contacts {
    background: linear-gradient(#614385, #516395  );
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container-contacts-links {
     display: flex;
     justify-content: center;
     margin: auto;
     flex-wrap: wrap;
}
.contact-links {
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px rgb(4, 1, 1);
}
h1 {
    text-align: center;
}
svg {
    padding-right: 10px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    

   
}
p {
    text-align: right;
    padding-right: 3rem;text-shadow: 2px 2px 2px rgb(4, 1, 1);
}
/* / / / Contacts */

/* ===== Hover Styles ======= */
button:hover {
    background: #614385;
}
.projects-link:hover {
    background: #14b36b;
}

/* ===== / / / Hover Styles ======= */

/* --------- Media Queries ------*/
 @media (min-width: 420px) and (max-width: 646px) {
      .container-contacts-links {
       flex-direction: column;
       display: flex;
       margin: auto;
       justify-content:space-between;
     }
     .contact-links {
        margin-top: 2rem;
        padding-left: 0;
     }
 }

 @media (min-width: 1232px) {
   .button-projects {
       margin-top: 100px;
   }
 }


